<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span style="font-size: 2.5em; display: inline;">Hello, my name is</span>
                    <span class="name" style="display: inline; margin-left: 10px;">{{ site.title }}</span> <!-- Added margin-left for space -->
                    <hr class="star-light" />
                    <span class="skills">{{ site.skills }}</span>
                    <!-- Smaller text for the new line -->
                    <div style="font-size: 1em; margin-top: 20px;">Check out some of the things I'm working on!</div>
                </div>
            </div>
        </div>
    </div>
</header>
